* {
    box-sizing: border-box;
}

:root {
    --side-padding: 12rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;

    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 85vh;
}

a {
    text-decoration: none;
}

/* Header */

#logo {
    width: 150px;
}

#avatar {
    border-radius: 100%;
    width: 40px;
}

#upper__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 4rem;
    animation: 400ms upperHeader;
    z-index: 50;
}

.header__content {
    height: 100%;
    padding: 0 var(--side-padding);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content a {
    display: flex;
    align-items: center;
}

.header__controls {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.header__controls input {
    width: 40px;
    height: 45px;
    position: absolute;
    opacity: 0;
    left: 45px;
    bottom: 7px;
    cursor: pointer;
    z-index: 1;
}

.header__controls input:checked ~ .menu__container {
    visibility: visible;
}

.header__controls input:checked ~ img {
    filter: brightness(90%);
}

.menu__container {
    width: 150px;
    text-transform: capitalize;
    position: absolute;
    top: 55px;
    right: 0;
    visibility: hidden;
    background-color: white;
    padding: 12px;
    text-align: center;
    --color: #9e9e9e;
}

.fullName {
    color: var(--color);
}

.notification__container {
    color: #bbb;
    margin-right: 1.5rem;
}

.notification__container i:hover {
    color: #a5a5a5;
}

#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu a {
    color: black;
    padding: 5px;
}

#menu a:hover {
    background-color: #f3f3f3;
    border-radius: 2px;
}

.menu__container hr {
    border: 1px solid var(--color);
}

/* Container */

.container {
    font-size: 5rem;
    height: 75vh;
    display: grid;
    margin: 5rem var(--side-padding) 0;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
    "logo logo js js php php php"
    "logo logo js js php php php"
    "logo logo js js php php php"
    "logo logo js js net net events"
    "qa qa js js net net events"
    "qa qa js js net net blog"
    "qa qa java java net net blog"
    "qa qa java java net net contacts";
}

.card {
    position: relative;
    overflow: hidden; /* hide an animated part of the cover */
}

.card.small {
    font-size: 1rem;
}

.card.medium {
    font-size: 3rem;
}

.card.logo {
    grid-area: logo;
}

.card.qa {
    grid-area: qa;
}

.card.java {
    grid-area: java;
}

.card.js {
    grid-area: js;
}

.card.net {
    grid-area: net;
}

.card.php {
    grid-area: php;
}

.card.events {
    grid-area: events;
}

.card.blog {
    grid-area: blog;
}

.card.contacts {
    grid-area: contacts;
}

/* Card 3d */

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card.js.flip-card {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-back {
    color: black;
    font-size: 1.15rem;
    padding: 1em;
    transform: rotateY(180deg);
    overflow: auto;
    font-weight: bold;
}

.card.js .flip-card-front {
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #f7cf69;
    padding-right: 1rem;
}

.card.qa .flip-card-front {
    background-color: #52bf77;
}

/* Card 2d */

.card__cover {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

.card__content {
    color: black;
    padding: 1em;
    font-weight: bold;
    font-size: 1.15rem;
}

.card__content, .card__cover {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    transition: transform 400ms;
}

/* Cover 2d */

.card.java .card__cover {
    background-color: #db2441;
}

.card.net .card__cover {
    background-color: #642077;
    transform-origin: bottom right;
}

.card.php .card__cover {
    font-style: italic;
    color: black;
    background-color: #8893c0;
    transform-origin: top right;
}

.card.events .card__cover {
    background-color: #2d99ff;
}

.card.blog .card__cover {
    background-color: #0444a3;
}

.card.contacts .card__cover {
    background-color: #00265f;
}

/* Cover hover-animation 2d */

.card.php:hover .card__cover {
    transform: scale(0);
}

.card.java:hover .card__cover {
    transform: translateY(100%);
}

.card.net:hover .card__cover {
    transform: scale(0);
}

.card.events:hover .card__cover,
.card.blog:hover .card__cover,
.card.contacts:hover .card__cover {
    transform: translateX(100%);
}

.social-networks__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.btn__join {
    font-size: 1rem;
    background-color: #2b8efe;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 3px;
    text-align: center;
    transition: background-color 150ms;
    width: 100px;
    height: 40px;
}

.btn__join:hover {
    background-color: #033a99;
}

.popups {
    right: 10px;
    bottom: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.popup {
    margin-top: 10px;
    z-index: 2;
    opacity: 0.9;
    color: white;
    border-radius: 4px;
    width: 210px;
    height: 100px;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 400ms;
}

.inner::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
}

.popup:hover .inner{
    transform: translateX(100%);
}

.popups .description {
    width: 150px;
}

.warning {
    background-color: #faa045;
}

.success {
    background-color: #6bab69;
}

.error {
    background-color: #c3534e;
}

@keyframes upperHeader {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

@media only screen and (max-width: 1080px) {
    .net {
        font-size: 0.75em;
    }
}

@media only screen and (max-width: 900px) {
    .card, .flip-card-front {
        font-size: 85%;
    }

    .container {
        font-size: 5rem;
        height: 75vh;
        display: grid;
        margin: 5rem 3rem 0;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
    "logo logo logo logo logo js js js js events events events"
    "logo logo logo logo logo js js js js events events events"
    "logo logo logo logo logo js js js js blog blog blog"
    "logo logo logo logo logo js js js js blog blog blog"
    "logo logo logo logo logo js js js js contacts contacts contacts"
    "java java java java java java php php php php php php"
    "java java java java java java php php php php php php"
    "qa qa qa qa qa qa net net net net net net";
    }
}
